body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 238, 238);
}

@media only screen and (min-width: 769px){
    .one{
        background-image: url(img/back1.jpg);
        background-size: cover;
        color: white;
    }

    .one1{
        display: flex;
        justify-content: space-around;
    }

    .one1 li{
        list-style-type: none;
        display: inline-block;
        padding: 0 15px 0 15px;
        font-weight: bold;
    }

    .one1 li:hover{
        background-color: red;
        padding: 8px;
        transition: .7s;
        border-radius: 5px;
        cursor: pointer;
    }

    .one1 img{
        padding-top: 10px;
    }

    .one2{
        text-align: center;
        padding-top: 100px;
    }

    .one2 button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
    }

    .one3{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .one3 button{
        background-color: red;
        border: none;
        color: white;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bold;
        border-radius: 60px;
        cursor: pointer;
    }

    .two{
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
    }

    .two h1{
        font-size: 100px;
        margin-bottom: 0;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .two button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .two p{
        color: gray;
        text-align: justify;
    }

    .three{
        text-align: center;
    }

    .three h1{
        font-size: 100px;
        margin-bottom: 0;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .three table{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .three input{
        width: 280px;
        height: 30px;
        font-size: 15px;
        color: red;
        opacity: .6;
    }

    .three textarea{
        width: 280px;
        height: 100px;
        font-size: 20px;
        color: red;
        opacity: .7;
    }

    .three ::placeholder{
        color: red;
    }

    .three button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 40px;
    }

    .four{
        background-color: red;
        color: white;
    }

    .four h5{
        padding: 10px;
        padding-left: 30px;
        margin: 0;
    }
}

@media only screen and (max-width: 768px){
    .one{
        background-image: url(img/back2.jpg);
        background-size: cover;
        color: white;
    }
    
    .one1 img{
        padding: 10px;
        width: 120px;
    }

    .one1 li{
        list-style-type: none;
        font-weight: bold;
        margin-right: 80px;
        margin-top: 10px;
    }

    .one1 li:hover{
        background-color: red;
        padding: 8px;
        transition: .7s;
        border-radius: 5px;
        cursor: pointer;
    }

    .one2{
        text-align: center;
    }

    .one2 img{
        width: 280px;
    }

    .one2 h3{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .one2 button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
    }

    .one3{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .one3 button{
        background-color: red;
        font-size: 10px;
        border: none;
        color: white;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        border-radius: 60px;
        cursor: pointer;
    }

    .two{
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }

    .two h1{
        font-size: 40px;
        margin-bottom: 0;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .two button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .two p{
        color: gray;
        text-align: justify;
    }

    .three{
        text-align: center;
    }

    .three h1{
        font-size: 40px;
        margin-bottom: 0;
        color: red;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .three table{
        margin: 0 auto;
    }

    .three input{
        width: 250px;
        height: 20px;
        opacity: .6s;
        font-size: 15px;
        color: red;
        
    }

    .three textarea{
        width: 250px;
        height: 100px;
        opacity: .6s;
        font-size: 15px;
        color: red;
    }

    .three ::placeholder{
        color: red;
        opacity: .4s;
    }

    .four{
        background-color: red;
        color: white;
    }

    .three button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px;
        font-weight: bolder;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .four h5{
        padding: 5px;
        font-size: 10px;
        padding-left: 20px;
        margin: 0;
    }
}